/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   font-family: $font-primary;
   font-size: 24px;
   line-height: 18px;
   color: #000000;
   background-color: #ffffff;
   margin: 0;
   padding: 0;
}

img {
   max-width: 100%;
   height: auto;
   object-fit: contain;
}

