/* здесь используйте глобальные селекторы img, body, html и так далее */
:root {
  --color-prime: #68b738;
  --color-prime-85: rgba(104, 183, 56, 0.85);
  --white-basic: #ffffff;
  --black-basic: #000000;
  --grey-basic: #f2f2f2;
  --color-text: #444444;
  --color-title: var(--black-basic);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text);
  background-color: var(--white-basic);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
