/* здесь используйте глобальные селекторы img, body, html и так далее */
:root {
  --color-prime: #68b738;
  --color-prime-shade: rgba(104, 183, 56, 0.85);
  --white-basic: #ffffff;
  --black-basic: #000000;
  --grey-basic: #f2f2f2;
  --color-text: #444444;
  --color-title: var(--black-basic);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text, #444444);
  background-color: var(--white-basic, #ffffff);
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  min-height: 100vh;
  margin-inline: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
