/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/text.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/logo.scss";
@import "./blocks/button-toggle.scss";
@import "./blocks/main.scss";
@import "./blocks/promo.scss";
@import "./blocks/heading.scss";
@import "./blocks/programs.scss";
@import "./blocks/program.scss";
@import "./blocks/features.scss";
@import "./blocks/title.scss";
@import "./blocks/stats.scss";
@import "./blocks/contacts.scss";
@import "./blocks/map-image.scss";
@import "./blocks/footer.scss";
@import "./blocks/socials.scss";
@import "./blocks/developer-link.scss";
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/accessories.scss";
@import "./blocks/gift.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/form.scss";
