.button {
  color: var(--white-basic, #ffffff);
  background-color: var(--color-prime, #68b738);
  display: inline-block;
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
