.contacts__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.contacts__info {
  color: #444444;
  font-family: $font-secondary;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
