.features {
  display: flex;
  flex-direction: column;
  padding-block-end: 33px;
}

.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-block: 29px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 245px 245px;
    gap: 84px 139px;
    padding-block: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.features__title {
  line-height: 40px;
  margin: 0;
  margin-block-end: 42px;

  @media (min-width: $tablet-width) {
    line-height: 1;
  }
}

.features__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__item {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-inline-start: 80px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto;
    row-gap: 31px;
    padding-block: 25px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: -80px;
    width: 60px;
    height: 60px;
    background: #5eaa2f no-repeat center;
    background-size: 30px 32px;

    @media (min-width: $tablet-width) {
      background-color: var(--color-prime, #68b738);
      width: 80px;
      height: 80px;
    }
  }
}

.features__item--health {
  &::before {
    background-image: url("../../icons/leaf.svg");
  }
}

.features__item--easy {
  &::before {
    background-image: url("../../icons/liquid.svg");
  }
}

.features__item--everyday {
  &::before {
    background-image: url("../../icons/cutlery.svg");
  }
}

.features__item--time {
  &::before {
    background-image: url("../../icons/watch.svg");
  }
}
