.features {
  display: flex;
  flex-direction: column;
}

.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.features__title {
  line-height: 40px;

  @media (min-width: $tablet-width) {
    line-height: 1;
  }
}

@media (min-width: $tablet-width) {
  .features__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 245px;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background: #5eaa2f no-repeat center;
    background-size: 30px 32px;

    @media (min-width: $tablet-width) {
      background-color: var(--color-prime, #68b738);
      width: 80px;
      height: 80px;
    }
  }
}

.features__item--health {
  &::before {
    background-image: url("../../icons/leaf.svg");
  }
}

.features__item--easy {
  &::before {
    background-image: url("../../icons/liquid.svg");
  }
}

.features__item--everyday {
  &::before {
    background-image: url("../../icons/cutlery.svg");
  }
}

.features__item--time {
  &::before {
    background-image: url("../../icons/watch.svg");
  }
}
