.footer {
  background: var(--grey-basic, #f2f2f2);
}

.footer__container {
  display: grid;
  justify-items: center;
  row-gap: 40px;
  padding-block: 40px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    justify-items: unset;
    align-items: center;
    padding-block: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-block: 66px;
  }
}
