.heading {
  color: var(--color-title, #000000);
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}
