.header {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
