.nav__list {
  list-style-type: none;
}

.nav__link {
  color: var(--black-basic);
  font-family: $font-secondary;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
