.programs__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    padding-block: 42px 40px;
  }
}

.programs__item--slim {
  &::before {
    background-image: url("../../icons/program-1.svg");
  }
}

.programs__item--pro {
  &::before {
    background-image: url("../../icons/program-2.svg");
  }
}
