.program {
   background-color: #f2f2f2;
}

.program__title {
   font-weight: 400;
   font-size: 36px;
   line-height: 36px;
   text-transform: uppercase;
}

.program__text {
   color: #000000;
}

.program__button {
   color: inherit;
   font-size: 20px;
   line-height: 30px;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
}
