.promo {
  background: linear-gradient(var(--color-prime-85), var(--color-prime-85)), url("../../images/background/promo-bg-mobile@1x.jpg") no-repeat center / contain;

  @media (min-width: $tablet-width) {
    background: var(--white-basic);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to right, var(--white-basic) 50%, var(--color-prime-85) 50%);
  }
}

.promo__title, .promo__slogan {
  color: var(--white-basic);

  @media (min-width: $tablet-width) {
    color: var(--black-basic);
  }
}

.promo__slogan {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

@media (min-width: $tablet-width) {
  .promo__button {
    font-size: 20px;
    line-height: 26px;
  }
}
